<ul>
  <li>
    {% link_to 'about' %}
      About
    {% endlink_to %}
  </li>
  <li>
    {% link_to 'blog' %}
      Blog
    {% endlink_to %}
  </li>
  <li>
    {% link_to 'case-studies' %}
      Case studies
    {% endlink_to %}
  </li>
  <li>
    {% link_to 'cookies' %}
      Cookies
    {% endlink_to %}
  </li>
  <li>
    {% link_to 'demo-request' %}
      Demo request
    {% endlink_to %}
  </li>
  <li>
    {% link_to 'faq' %}
      FAQ
    {% endlink_to %}
  </li>
  <li>
    {% link_to 'glossary' %}
      Glossary
    {% endlink_to %}
  </li>
  <li>
    {% link_to 'jobs' %}
      Jobs
    {% endlink_to %}
  </li>
  <li>
    {% link_to 'partnership' %}
      Partnership
    {% endlink_to %}
  </li>
  <li>
    {% link_to 'plugins' %}
      Plugins
    {% endlink_to %}
  </li>
  <li>
    {% link_to 'press' %}
      Press
    {% endlink_to %}
  </li>
  <li>
    {% link_to 'privacy-policy' %}
      Privacy policy
    {% endlink_to %}
  </li>
  <li>
    {% link_to 'team' %}
      Team
    {% endlink_to %}
  </li>
  <li>
    {% link_to 'terms-conditions' %}
      Terms & conditions
    {% endlink_to %}
  </li>
  <li>
    {% link_to 'trial' %}
      Trial
    {% endlink_to %}
  </li>
  <li>
    {% link_to 'contact' %}
      Contact
    {% endlink_to %}
  </li>
</ul>
